.content-block {
    background-color: rgba(222, 174, 131, 1);
    margin-bottom: 75px;
}

.comment-block,
.get-call-block {
    margin-bottom: 100px;
}

.white-container {
    background: #FEFEFF !important;
}

.content-block img {
    margin-top: -2em;
    margin-bottom: -2em;
    vertical-align: middle !important;
}

.right-doors-img {
    margin-left: 9.4em;
}

.door-image-left {
    margin-left: -.8em;
}

.text-content-left {
    padding-left: 10% !important;
}

.text-content-right {
    padding-left: 10% !important;
}

.content-block h1 {
    padding-top: 8%;
    color: #FFFDFD;
}

.content-circles {
    padding-bottom: 8%;
    color: #FFFDFD;
    margin-top: 8%;
}

.content-circles div {
    border: 2px solid #FDFEFF;
    width: 8em;
    height: 8em;
    margin-right: 6% !important;
    padding-top: 2em;
    text-align: center;
    font-size: 14px;
}

.ecology {
    padding-top: 3em !important;
}

.review-container,
.get-call-container {
    padding-bottom: 48px !important;
    padding-top: 55px !important;
}

.separator {
    height: 0px;
    border: 1px solid rgba(153, 152, 152, 0.4);
    bottom: 2% !important;
    margin-top: 12px;
}

.separator-top {
    margin-bottom: 24px;
}

.review-card {
    align-content: left !important;
}

.review {
    font-size: 14px !important;
}

.main-row {
    margin-left: 165px !important;
    margin-right: 165px !important;
}

.map {
    border: 0;
    margin-left: -.73em;
    align-content: stretch;
    height: 100%;
    width: 100%;
}

form {
    padding-bottom: 60px;
}

.get-call-block h1 {
    font-size: 36px;
}

.hint {
    font-size: 11px;
}

input {
    font-size: 13px;
}

.phone-number {
    font-weight: bold;
    margin-top: .4em !important;
    margin-right: .5em !important;
}

.phone-input {
    margin-left: -1em !important;
}